@import '~variables.scss';

.container {padding:10px;
  p {font-size:.9em;letter-spacing:.2em;color:rgb(139, 139, 139);font-weight:600;margin:0;}

  .bar {width:100%;margin-top:10px;
    height:10px;background-color:rgb(230,230,230);border-radius:5px;
  
    .bar-green{width:0%;
      height:10px;background-color:$success;border-radius:5px;max-width:100%;
      transition:ease-in-out.2s;
    }
  
  }
}