@import '~variables.scss';

.wrapper{display:flex;flex-direction:column;justify-content:center;width:100%;align-items:center;min-height:100vh;

  padding:0 5%;

  // h1 title
  h1 {
    font-size:2.5em;
    color:$faint;
    font-weight:800;
  }

}