<form [formGroup]="form"
      (ngSubmit)="onSubmit(form.value)"
      class="animated fadeInUp">

  <h1>REGISTER</h1>

  <div class="inputs">
    <!-- Username -->
    <div class="input-group">
      <input type="text"
            id='username'
            placeholder='Username'
            [formControl]='form.controls["username"]'
            required>
      <div class="errors" *ngIf="
          form.controls['username'].invalid 
          && (form.controls['username'].dirty
          || form.controls['username'].touched)">

        <p *ngIf='form.controls["username"].errors.unique'>This username is already taken. <a routerLink="/account/login">Log in?</a></p>
        <p *ngIf='form.controls["username"].errors.required'>A valid username between 5 and 25 characters is required.</p>
        <p *ngIf='form.controls["username"].errors.whitespace'>Username must not contain whitespace.</p>
        <p *ngIf='form.controls["username"].errors.specialchars'>Username must not contain any special characters.</p>
        <p *ngIf='form.controls["username"].errors.minlength'>Username is under the 5 character minimum. ({{form.controls['username'].errors.minlength.actualLength}}/{{form.controls['username'].errors.minlength.requiredLength}})</p>
        <p *ngIf='form.controls["username"].errors.maxlength'>Username is over the 25 character limit. ({{form.controls['username'].errors.maxlength.actualLength}}/{{form.controls['username'].errors.maxlength.requiredLength}})</p>
      </div>
    </div>

    <!-- Email -->
    <div class="input-group">
      <input type="email"
            id='email'
            placeholder='email@domain.com'
            [formControl]='form.controls["email"]'
            required
            autocomplete='email'>

      <div class="errors" *ngIf="
          form.controls['email'].invalid 
          && (form.controls['email'].dirty 
          || form.controls['email'].touched)">

        <p *ngIf='form.controls["email"].errors.unique'>This email is already taken. <a routerLink="/account/login">Log in?</a></p>
        <p *ngIf='form.controls["email"].errors.email'>This email address is invalid.</p>
      </div>
    </div>

    <!-- Password -->
    <div class="input-group">
      <div class="control">
        <i class="fas fa-eye" *ngIf='password_input_type == "password"' (click)="password_input_type = 'text'"></i>
        <i class="far fa-eye-slash" *ngIf='password_input_type =="text"' (click)="password_input_type = 'password'"></i>
      </div> 

      <input type="{{password_input_type}}"
            [(ngModel)]="password"
            id='password'
            placeholder='Password'
            [formControl]='form.controls["password"]'
            required
            class='type-password'
            autocomplete='new-password'>
      <div class="errors" *ngIf="
          form.controls['password'].invalid 
          && (form.controls['password'].dirty 
          || form.controls['password'].touched)">

        <p *ngIf='form.controls["password"].errors.minlength'>Please ensure your password is 5 characters or more.</p>
        <p *ngIf='form.controls["password"].errors.required'>Please enter a valid password.</p>
        <p *ngIf='form.controls["password"].errors.whitespace'>Password must not contain whitespace.</p>
      </div>

      <app-pwstrength [password]='password'></app-pwstrength>
    </div>

    <!-- Confirm Password -->
    <div class="input-group">
      <input type="{{password_input_type}}"
            id='password_c'
            placeholder='Confirm Password'
            [formControl]='form.controls["password_c"]'
            required
            autocomplete='new-password'>
    
      <div class="errors" *ngIf="
          form.controls['password_c'].invalid 
          && (form.controls['password_c'].dirty 
          || form.controls['password_c'].touched)">

          <p *ngIf='form.controls["password_c"].errors.nomatch'>Passwords do not match.</p>
      </div>
    </div>
  </div>

  <h1 class="login">ALREADY HAVE AN ACCOUNT? <a routerLink='/account/login'>LOG IN</a></h1>

  <div class="platforms">
    <div class="content">
      <h1>OR SIGN UP WITH</h1>
      <div class="icons">
        <img src="./assets/platforms/steam.svg" alt="Steam Logo">
        <img src="./assets/platforms/gmail.svg" alt="Gmail Logo">
        <img src="./assets/platforms/github.svg" alt="Github Logo">
      </div>
    </div>

    <div class="coming-soon">
      <h1>COMING SOON</h1>
    </div>
  </div>


  <!-- Submit Button -->
  <input [class.valid]='form.valid' type="submit" value="LET ME IN" disabled>

</form>

<div class="popup" *ngIf="error">
  <div class="container animated fadeInUp">  
    <div class="content">
      <h1>Oopsies!</h1>
      <p>There was an error registering you. Please make sure you have entered a valid email address.</p>
    </div>
  
    <button class="error" (click)="closeError()">TRY AGAIN</button>
  </div>
</div>

<div class="popup" *ngIf="success">
  <div class="container">  
    <div class="content">
      <h1>Welcome!</h1>
      <p>Thank you for taking your time to register with us. We hope you enjoy the experience ahead of you.</p>

      <p>Please remember to validate your email address to get access to all our features.</p>
    </div>
  
    <button routerLink="/" class="success">TAKE ME IN</button>
  </div>
</div>