@import '~variables.scss';

form {display:flex;flex-direction:column;margin-bottom:50px;
  transition:ease-in-out.2s;

  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.46);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.46);

  max-width:100%;
  width:400px;
  background-color: rgb(245,245,245);

  h1{text-align:center;color:$black;margin:25px 0 0;letter-spacing:.1em;}
  
  input{outline:none;}

  .inputs {
    padding:15px 0% 0;

    .input-group {position:relative;
      width:100%;
      margin:10px 0 0px;
      input {width: 100%;padding:15px;font-family:$fnt;&::placeholder{font-family:$fnt;}
        border-left:2px solid transparent;
        border-right:2px solid transparent;
        border-top:2px solid rgba($black,.1);
        border-bottom:2px solid rgba($black,.1);
        transition:ease-in-out.2s;

        font-family: 'Consolas';

        &:focus{border:2px solid $black;}

        &.ng-touched {
          &.ng-invalid { background-color:rgba($danger,.1); }
        }

        &.ng-valid {
          background-color:rgba($success,.4);
        }
      }
      .errors {margin-bottom:25px;
        p {margin:0;color:white;width:100%;padding:5px 10px 5px;background-color:rgba($danger,.6);border-left:4px solid $danger;}
        a{text-decoration:underline;font-weight:500;}
      }

      .control {position:absolute;top:14px;right:13px;
        i{font-size:1.5em;color:rgba(50,50,50,.2);cursor:pointer;}
      }


    }
  }

  input[type='submit'] {
    width:100%;padding:10px;background-color:rgba(1,1,1,.08);border:none;margin-top:15px;
    font-weight:600;letter-spacing:.2em;color:rgba(1,1,1,.25);font-size:1.5em;
    cursor:pointer;

    transition:ease-in-out.5s;

    &.valid {
      background-color:rgba($success,.4);color:$black;
    }
  }

  .login {padding:0 10px 0;
    font-size:.9em;letter-spacing:.2em;color:rgb(189, 189, 189);font-weight:600;margin:10px 0 0;
    a{color:rgb(170,170,170);cursor:pointer;}
    &.login-error{color:$danger;font-size:1em;padding:10px;}
  }

  .platforms{margin-top:15px;position:relative;
    .content {margin-top:8px;transition:ease-in-out.2s;
      h1{font-size:1em;color:rgb(139, 139, 139);margin:0;}
      .icons{width:100%;display:flex;flex-direction:row;justify-content:center;padding:10px;
        img{width:30px;height:30px;margin:0 6px 0px;cursor:pointer;
          filter:grayscale(100%);
          transition:ease-in-out.5s;
          &:hover {
            filter:none;
          }
        }
      }
    }
    .coming-soon{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:ease-in-out.2s;
      background-color:rgba(1,1,1,.3);display:flex;flex-direction:column;justify-content:center;
      h1{color:white;font-size:1em;margin:0;cursor:default;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.56);
      }
    }

    &:hover {
      .content {filter:blur(1px);}
      .coming-soon{opacity:1;}
    }

  }



}

.popup {position:fixed;top:0;left:0;width:100%;height:100vh;
  display:flex;flex-direction:column;justify-content:center;align-items:center;align-content:center;
  background-color:rgba(1,1,1,.5);
  .container {
    width: 90%;
    max-width:400px;
    display:flex;flex-direction:column;justify-content:center;align-items:center;align-content:center;
    background-color:white;
    .topbar{padding:5px;color:rgba(white,.8);font-weight:700;width:100%;text-align:center;
      &.error{background-color:$danger} &.success{background-color:$success;color:$black;}
    }
    .content{padding:25px;
      h1{text-align:center;color:$black;font-weight:600;margin:0;}
      p{text-align:center;line-height:1.5em;margin:15px 0 0;font-weight:500;letter-spacing:.03em;color:rgb(100, 100, 100);}
    }
    button{width:100%;padding:15px;font-weight:600;letter-spacing:.2em;border:none;outline:none;color:whitesmoke;cursor:pointer;
      &.error { background-color:$danger; }
      &.success { background-color:$success; }
    }
  }
}

.wiggle {
  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

  animation: wiggle .5s;
}