/* You can add global styles to this file, and also import other style files */

// Normalize.css
@import url('https://necolas.github.io/normalize.css/8.0.0/normalize.css');
// Google font 'Heebo'
@import url('https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900');
// Animate.css
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');

// Variables
@import '~variables.scss';

// Base Styles
* {
  box-sizing: border-box;
  font-family: $fnt;
}
a{color:inherit;text-decoration:inherit;}



body {
  background-color:$bg-1;
}