$fnt: 'Heebo', 'sans-serif', serif;

$faint: rgb(190, 190, 190);


$bg-1: rgb(255, 255, 255);
$bg-2: rgb(240,240,240);

$black: rgb(61, 61, 61);

// states
$danger: rgb(255, 75, 75);
$success: rgb(41, 235, 105);

$success-1: rgb(104, 255, 155);